{% extends 'base.html' %}

{% load static %}


{% block content %}
<h2>Children Profiles for Sponsorship</h2>
<div class="children-profiles">
    {% for child in children %}
    <div class="child-profile">
        <img src="{{ child.Picture.url }}" alt="{{ child.name }}">
        <h3>{{ child.name }}</h3>
        <p>Age: {{ child.age }}</p>
        <p>Gender: {{ child.get_gender_display }}</p>
        <p>Class: {{ child.get_Child_class_display }}</p>
        <p>Orphan: {{ child.is_orphan|yesno:"Yes,No" }}</p>
    </div>
    {% endfor %}
</div>

{% endblock %}