{% extends 'base.html' %}
{% load static %}

{% block title %}Home - Medic Care{% endblock %}

{% block content %}
<body id="top">
<main>
    <section class="hero" id="hero">
        <div class="container">
            <div class="row">

                <div class="col-12">
                    <div class="carousel slide carousel-fade" data-bs-ride="carousel" id="myCarousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img alt=""
                                     class="img-fluid"
                                     src="{% static 'images/slider/portrait-successful-mid-adult-doctor-with-crossed-arms.jpg' %}">
                            </div>

                            <div class="carousel-item">
                                <img alt=""
                                     class="img-fluid"
                                     src="{% static 'images/slider/young-asian-female-dentist-white-coat-posing-clinic-equipment.jpg' %}">
                            </div>

                            <div class="carousel-item">
                                <img alt=""
                                     class="img-fluid"
                                     src="{% static 'images/slider/doctor-s-hand-holding-stethoscope-closeup.jpg' %}">
                            </div>
                        </div>
                    </div>

                    <div class="heroText d-flex flex-column justify-content-center">
                        <h1 class="mt-auto mb-2">
                            Better
                            <span class="animated-info">
                                <span class="animated-item">health</span>
                                <span class="animated-item">days</span>
                                <span class="animated-item">lives</span>
                            </span>
                        </h1>

                        <p class="mb-4">Medic Care is a Bootstrap 5 Template provided by TemplateMo website. Credits go
                            to FreePik and RawPixel for images used in this template.</p>

                        <div class="heroLinks d-flex flex-wrap align-items-center">
                            <a class="custom-link me-4" data-hover="Learn More" href="#about">Learn More</a>

                            <p class="contact-phone mb-0"><i class="bi-phone"></i> 010-020-0340</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding" id="about">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-12">
                    <h2 class="mb-lg-3 mb-3">Meet Dr. Carson</h2>

                    <p>Protect yourself and others by wearing masks and washing hands frequently. Outdoor is safer than
                        indoor for gatherings or holding events. People who get sick with Coronavirus disease (COVID-19)
                        will experience mild to moderate symptoms and recover without special treatments.</p>

                    <p>You can feel free to use this CSS template for your medical profession or health care related
                        websites. You can <a href="http://paypal.me/templatemo" rel="nofollow" target="_blank">support
                            us a little</a> via PayPal if this template is good and useful for your work.</p>
                </div>

                <div class="col-lg-4 col-md-5 col-12 mx-auto">
                    <div class="featured-circle bg-white shadow-lg d-flex justify-content-center align-items-center">
                        <p class="featured-text"><span class="featured-number">12</span> Years<br> of Experiences</p>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="gallery">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-6 ps-0">
                    <img alt="get a vaccine"
                         class="img-fluid galleryImage"
                         src="{% static 'images/gallery/medium-shot-man-getting-vaccine.jpg' %}"
                         title="get a vaccine for yourself">
                </div>

                <div class="col-lg-6 col-6 pe-0">
                    <img alt="wear a mask"
                         class="img-fluid galleryImage"
                         src="{% static 'images/gallery/female-doctor-with-presenting-hand-gesture.jpg' %}"
                         title="wear a mask to protect yourself">
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding pb-0" id="timeline">
        <div class="container">
            <div class="row">

                <h2 class="text-center mb-lg-5 mb-4">Our Timeline</h2>

                <div class="timeline">
                    <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                        <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                            <h3 class=" text-light">Get the vaccine</h3>

                            <p>Donec facilisis urna dui, a dignissim mauris pretium a. Quisque quis libero fermentum,
                                tempus felis eu, consequat nibh.</p>
                        </div>

                        <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                            <i class="bi-patch-check-fill timeline-icon"></i>
                        </div>

                        <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                            <time>2021-07-31 Saturday</time>
                        </div>
                    </div>

                    <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes my-lg-5 my-4">
                        <div class="col-9 col-md-5 ms-md-4 ms-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                            <h3 class=" text-light">Consulting your health</h3>

                            <p>You are fully permitted to use this template for your commercial or personal website. You
                                are not permitted to redistribute the template ZIP file for a download purpose on any
                                other <a href="https://www.google.com/search?q=free+css" target="_blank">Free CSS
                                    collection</a> website.</p>
                        </div>

                        <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                            <i class="bi-book timeline-icon"></i>
                        </div>

                        <div class="col-9 col-md-5 pe-md-3 pe-lg-0 order-1 order-md-3 py-4 timeline-date">
                            <time>2021-07-15 Thursday</time>
                        </div>
                    </div>

                    <div class="row g-0 justify-content-end justify-content-md-around align-items-start timeline-nodes">
                        <div class="col-9 col-md-5 me-md-4 me-lg-0 order-3 order-md-1 timeline-content bg-white shadow-lg">
                            <h3 class=" text-light">Certified Nurses</h3>

                            <p>Phasellus eleifend, urna interdum congue viverra, arcu neque ultrices ligula, id pulvinar
                                nisi nibh et lacus. Vivamus gravida, ipsum non euismod tincidunt, sapien elit fermentum
                                mi, quis iaculis enim ligula at arcu.</p>
                        </div>
                        <div class="col-3 col-sm-1 order-2 timeline-icons text-md-center">
                            <i class="bi-file-medical timeline-icon"></i>
                        </div>

                        <div class="col-9 col-md-5 ps-md-3 ps-lg-0 order-1 order-md-3 py-4 timeline-date">
                            <time>2021-06-28 Monday</time>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="section-padding pb-0" id="reviews">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12">
                    <h2 class="mb-lg-5 mb-4">Our Patients</h2>

                    <div class="carousel slide" data-bs-ride="carousel" id="carouselExampleCaptions">
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Lorem Ipsum dolor sit amet, consectetur adipsicing kengan
                                        omeg kohm tokito charity theme</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Maria</span>,
                                        Boss</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Sed leo nisl, posuere at molestie ac, suscipit auctor
                                        mauris quis metus tempor orci</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Thomas</span>,
                                        Partner</small>
                                </div>
                            </div>

                            <div class="carousel-item">
                                <div class="carousel-caption">
                                    <h4 class="carousel-title">Kengan omeg kohm tokito charity theme leo nisl, posuere
                                        at
                                        molestie ac, suscipit auctor mauris quis metus tempor orci</h4>

                                    <small class="carousel-name"><span class="carousel-name-title">Jane</span>, Advisor</small>
                                </div>
                            </div>
                        </div>

                        <button class="carousel-control-prev" data-bs-slide="prev"
                                data-bs-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-prev-icon"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>

                        <button class="carousel-control-next" data-bs-slide="next"
                                data-bs-target="#carouselExampleCaptions"
                                type="button">
                            <span aria-hidden="true" class="carousel-control-next-icon"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-4 col-12">
                    <div class="custom-block bg-white shadow-lg">
                        <div class="d-flex">
                            <div>
                                <h4 class="mb-3">Contact Info</h4>

                                <p class="mb-2">
                                    <i class="bi-geo-alt me-2"></i>
                                    Akershusstranda 20, 0150 Oslo, Norway
                                </p>

                                <p class="mb-2">
                                    <i class="bi-telephone me-2"></i>
                                    010-020-0340
                                </p>

                                <p>
                                    <i class="bi-envelope me-2"></i>
                                    <a href="mailto:info@company.com">info@company.com</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

</main>
</body>
{% endblock %}